doctype html
html
  head
    meta(charset='utf-8')
    title= link.meta.title
    meta(http-equiv='refresh', content='1; url=' + link.url)
    script.
      var botPattern = "(googlebot\/|bot|Googlebot-Mobile|Googlebot-Image|Google favicon|Mediapartners-Google|bingbot|slurp|java|wget|curl|Commons-HttpClient|Python-urllib|libwww|httpunit|nutch|phpcrawl|msnbot|jyxobot|FAST-WebCrawler|FAST Enterprise Crawler|biglotron|teoma|convera|seekbot|gigablast|exabot|ngbot|ia_archiver|GingerCrawler|webmon |httrack|webcrawler|grub.org|UsineNouvelleCrawler|antibot|netresearchserver|speedy|fluffy|bibnum.bnf|findlink|msrbot|panscient|yacybot|AISearchBot|IOI|ips-agent|tagoobot|MJ12bot|dotbot|woriobot|yanga|buzzbot|mlbot|yandexbot|purebot|Linguee Bot|Voyager|CyberPatrol|voilabot|baiduspider|citeseerxbot|spbot|twengabot|postrank|turnitinbot|scribdbot|page2rss|sitebot|linkdex|Adidxbot|blekkobot|ezooms|dotbot|Mail.RU_Bot|discobot|heritrix|findthatfile|europarchive.org|NerdByNature.Bot|sistrix crawler|ahrefsbot|Aboundex|domaincrawler|wbsearchbot|summify|ccbot|edisterbot|seznambot|ec2linkfinder|gslfbot|aihitbot|intelium_bot|facebookexternalhit|yeti|RetrevoPageAnalyzer|lb-spider|sogou|lssbot|careerbot|wotbox|wocbot|ichiro|DuckDuckBot|lssrocketcrawler|drupact|webcompanycrawler|acoonbot|openindexspider|gnam gnam spider|web-archive-net.com.bot|backlinkcrawler|coccoc|integromedb|content crawler spider|toplistbot|seokicks-robot|it2media-domain-crawler|ip-web-crawler.com|siteexplorer.info|elisabot|proximic|changedetection|blexbot|arabot|WeSEE:Search|niki-bot|CrystalSemanticsBot|rogerbot|360Spider|psbot|InterfaxScanBot|Lipperhey SEO Service|CC Metadata Scaper|g00g1e.net|GrapeshotCrawler|urlappendbot|brainobot|fr-crawler|binlar|SimpleCrawler|Livelapbot|Twitterbot|cXensebot|smtbot|bnf.fr_bot|A6-Indexer|ADmantX|Facebot|Twitterbot|OrangeBot|memorybot|AdvBot|MegaIndex|SemanticScholarBot|ltx71|nerdybot|xovibot|BUbiNG|Qwantify|archive.org_bot|Applebot|TweetmemeBot|crawler4j|findxbot|SemrushBot|yoozBot|lipperhey|y!j-asr|Domain Re-Animator Bot|AddThis)";
      var re = new RegExp(botPattern, 'i');
      var userAgent = navigator.userAgent; 
      if (!re.test(userAgent)) {
        window.location.href = "#{link.url}"
      }
    // Search Engine
    link(rel='canonical', href=link.url)
    meta(name='description', content=link.meta.description)
    meta(name='image', content=link.meta.image)
    // Schema.org for Google
    meta(itemprop='name', content=link.meta.title)
    meta(itemprop='description', content=link.meta.description)
    meta(itemprop='image', content=link.meta.image)
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content=link.twitterMeta.title)
    meta(name='twitter:description', content=link.twitterMeta.description)
    //meta(name='twitter:site', content=link.twitterMeta.publisher)
    meta(name='twitter:creator', content=link.twitterMeta.creator)
    meta(name='twitter:image:src', content=link.twitterMeta.image)
    //meta(name='twitter:player', content=link.twitterMeta.player)
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content=link.facebookMeta.title)
    meta(name='og:description', content=link.facebookMeta.description)
    meta(name='og:image', content=link.facebookMeta.image)
    meta(name='og:url', content=link.url)
    //meta(name='og:site_name', content=link.facebookMeta.publisher)
    meta(name='og:locale', content='en-US')
    //meta(name='og:video', content=link.facebookMeta.video)
    //meta(name='fb:admins', content=link.facebookMeta.adminId)
    //meta(name='fb:app_id', content=link.facebookMeta.appId)
    meta(name='og:type', content='website')
  body
    p.
      If you are not redirected automatically, click on #[a(href="#{link.url}") this link].
